// bower:scss
// endbower

@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CRaleway:100,300,600,700,800");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");

a {
  cursor: pointer;
}

body {
  padding: 20px 0px;
}

.results {
  margin-top: 15px;
}

.btn-primary {
  color: #fff;
  background-color: #113344;
  border-color: #2e6da4;
}

#details {
  div {
    text-transform: uppercase;
  }
  h4 {
    text-transform: none;
    margin-bottom: 5px;
    margin-top: 15px;
  }
}

h3.resultsHeader {
  margin-bottom: 0;
  margin-top: 0;
}
