<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">

      <input type="text" placeholder="Start typing an address" ng-model="searchText"
             class="form-control">

      <div class="results">
        <i class="fa fa-spinner fa-spin" ng-if="isLoading"></i>

        <!-- Search Results -->
        <div ng-if="!detailsVisible">
          <div ng-if="addresses.length == 0 && searchText.length > 0 && !isLoading">No results</div>

          <p ng-if="addresses.length">Click on an address below to view more detailed information.</p>
          <div class="row" ng-repeat="item in addresses | limitTo: 5">
            <div class="col-sm-12">
              <a ng-click="showAddressData(item)">{{ item.ADDRESS }}</a>
            </div>
          </div>
        </div>

        <!-- Detail View -->
        <div class="row" id="details" ng-if="detailsVisible">
          <div class="col-sm-12">
            <h3 class="resultsHeader">{{ selectedAddress.ADDRESS }}</h3>
          </div>
          <div class="col-sm-6">

            <h4>Parcel Information</h4>
            <div>Jurisdiction: {{ selectedAddress.JURISD }}</div>
            <div>Parcel No: {{ selectedAddress.PARCEL }}</div>
            <div>Address: {{ selectedAddress.ADDRESS }}</div>
            <div>City: {{ selectedAddress.ZIPCITY }}</div>
            <div>Zip: {{ selectedAddress.ZIPCODE }}</div>
            <div>Subdivision: {{ selectedAddress.SUBDIV }}</div>
            <div>Zoning: {{selectedAddress.ZONING }}</div>
            <div>Annexation: {{selectedAddress.ANNEX }}</div>

            <h4>Utility Information</h4>
            <div>Water Provider: {{ selectedAddress.Water_Co }}</div>
            <div>Electric Provider: {{ selectedAddress.ELEC_CO }}</div>

            <div ng-if="selectedAddress.FIRE_DIST.trim()">
              <h4>Fire District</h4>
              <div>{{selectedAddress.FIRE_DIST}}</div>
            </div>
          </div>
          <div class="col-sm-6">
            <div ng-if="selectedAddress.BEN_AREA_1.trim()">
              <h4>Benefit Area</h4>
              <div>{{ selectedAddress.BEN_AREA_1 }}</div>
              <div ng-if="selectedAddress.BEN_AREA_2.trim()">{{ selectedAddress.BEN_AREA_2 }}</div>
            </div>
            <div ng-if="selectedAddress.IMPROV.trim()">
              <h4>Facilities District</h4>
              <div>{{ selectedAddress.IMPROV }}</div>
            </div>
            <div ng-if="selectedAddress.FACIL_DIST.trim()">
              <h4>Improvement District</h4>
              <div>{{ selectedAddress.FACIL_DIST }}</div>
            </div>
            <div ng-if="selectedAddress.SPEC_PLAN.trim()">
              <h4>Specific Plan</h4>
              <div>{{ selectedAddress.SPEC_PLAN }}</div>
            </div>
            <h4>Voter Information</h4>
            <div>Voter Precinct: {{ selectedAddress.PRECINCT }}</div>
            <div>Congressional District: {{ selectedAddress.DIST_CON }}</div>
            <div>Legislative District: {{ selectedAddress.DIST_LEG }}</div>
          </div>


        </div>

      </div>

    </div>
  </div>
</div>
